<div class="container">
  <div class="notification is-primary text-aling-center">
    {{title}}
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-primary is-large text-center" type="text" placeholder="Primary input" disabled [(ngModel)]="result">
    </div>
  </div>
  <div class="columns is-multiline is-mobile">
    <div class="column is-one-quarter" *ngFor="let field of fields">
        <button class="button is-primary is-outlined is-large is-fullwidth" (click)="getField(field)">{{field}}</button>
    </div>
    <div class="column is-two-quarter">
      <button class="button is-primary is-outlined is-large is-fullwidth">=</button>
    </div>
  </div>
</div>